[|SECTION|]
;language=|LANGUAGE|
callerid=|CALLERID|
autodial=|AUTODIAL|
autodial_timeoutmsec=|AUTODIAL_TIMEOUT|
dialtone_timeoutmsec=|DIALTONE_TIMEOUT|
context=|CONTEXT|
context_direct=|CONTEXT|-direct
dialtone_extension_hint_context=brcm_dialtone
dialtone_extension_hint=|DIALTONE_EXTENSION_HINT|
callwaiting=|CALLWAITING|
clir=|CLIR|
dtmfrelay=|DTMFRELAY|
;|ALLOW|

