config cgroups cgroups
	option enabled 1
	option defgroup iopsys/normal

config cgroup _root_
#	list option cpu.rt_runtime_us=50000
	list option memory.move_charge_at_immigrate=1

config cgroup iopsys
	list option cpu.shares=4096
#	list option cpu.rt_runtime_us=40000
	list option memory.limit_in_bytes=-1
	list option memory.move_charge_at_immigrate=1

config cgroup iopsys_normal
	list option cpu.shares=1024
#	list option cpu.rt_runtime_us=10000
	list option memory.limit_in_bytes=-1
	list option memory.move_charge_at_immigrate=1

config cgroup iopsys_high
	list option cpu.shares=4096
#	list option cpu.rt_runtime_us=30000
	list option memory.limit_in_bytes=-1
	list option memory.move_charge_at_immigrate=1

config cgroup 3prt
	list option cpu.shares=1024
#	list option cpu.rt_runtime_us=10000
	list option memory.limit_in_bytes=75M
	list option memory.move_charge_at_immigrate=1

config cgroup 3prt_normal
	list option cpu.shares=1024
#	list option cpu.rt_runtime_us=2500
	list option memory.limit_in_bytes=75M
	list option memory.move_charge_at_immigrate=1

config cgroup 3prt_high
	list option cpu.shares=4096
#	list option cpu.rt_runtime_us=7500
	list option memory.limit_in_bytes=75M
	list option memory.move_charge_at_immigrate=1

config procmap procmap
	list procmap kthreadd=.
	list procmap minidlna=3prt/normal

