config wifilife
	option enabled '1'
	list ifname 'rai0'
	list ifname 'rai0.1'

config steer
	option enabled 1
	option ifname 'rai0'
	list param 'rssi'
	list param 'bssload'
	list exclude '00:11:22:33:44:55'
	list exclude '00:10:20:30:40:50'
	list exclude_btm '00:aa:bb:cc:dd:ee'

config steer
	option enabled 0
	option ifname 'rai0.1'
	list param 'rssi'
	list param 'bssload'
	list exclude '00:11:22:33:44:55'

config assoc_control
	option ifname 'rai0'

config assoc_control
	option ifname 'rai0.0'
	list sta '00:11:22:33:44:55'

config steer-param 'rssi'
	option priority '0'
	option threshold '-65'

config steer-param 'bssload'
	option priority '0'
	option threshold '80'

